*.a
*.d
*.dll
*.exe
*.la
*.lo
*.o
*.obj
*.res
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
